@model LoginModel
@using Nop.Core
@using Nop.Core.Domain.Customers

@inject IWebHelper webHelper
@{
    // Layout = "_ColumnsOne";
    Layout = "~/Views/Shared/NoHeaderFooter.cshtml";
    //title
    NopHtml.AddTitleParts(T("PageTitle.Login").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-login-page");

    //register URL with return URL (if specified)
    var registerUrl = Url.RouteUrl("Register", new { returnUrl = this.Context.Request.Query["returnUrl"] }, webHelper.GetCurrentRequestProtocol());
}
<div class="page login-page">
    <div class="page-title" style="display:flex;justify-content:center; width: -webkit-fill-available;">
        <div class="header-logo">
            <a class="logo-footer" href="#" title="Home" style="text-decoration: none;  padding-top:10%;">
                <img class="image-style-none" style="width:187px;height:43px" src="../Themes/DefaultClean/Content/images/Remove-bg.ai_1729840192443.png" alt="Bouygues Construction">
            </a>
        </div>
    </div>

    <div class="page-body" style="margin-top: 15%;margin-left: 37%;margin-right: -12%;">

        <div class="customer-blocks" style="margin-right:23%;margin-top: -31%;margin-left: -152%;">
            <div class="returning-wrapper fieldset" style="margin-right: 12%; margin-top: 6%;">
                <form asp-route="Login" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" autocomplete="off" style="margin-left: 18%;">

                    <div asp-validation-summary="ModelOnly" class="message-error" style="
    margin-left: 6%;
    margin-right: -30%;
">
                        @T("Account.Login.Unsuccessful")
                    </div>
                    <div class="title" style="text-align: center; margin-bottom: 1rem;">
                        <strong style="font-size: 1.5rem; margin-left:-45%">@T("Account.Login")</strong>
                        <p style="margin-top: 0.5rem; color: #555; font-size: 0.875rem; width:284px">Bất động sản, tài chính, khách hàng... và hơn thế nữa</p>
                    </div>


                    <div class="form-fields" style="width:fit-content; padding-top:unset;">
                        <div class="inputs" style="width: 100%;margin-left: -23%;">
                            <label asp-for="Email" asp-postfix=":" class="form-label" style="display: block; margin-bottom: 0.5rem; font-weight: bold; margin-left:22%;"></label>
                            <input asp-for="Email" class="email form-control" autofocus="autofocus" style="width:100%; padding: 0.5rem; margin-left:43%;" />
                            <span asp-validation-for="Email" class="text-danger" style="display: block; margin-top: 0.5rem; margin-left:25%"></span>
                        </div>
                        <div class="inputs" style="width: 100%;margin-left: -23%;">
                            <label asp-for="Password" asp-postfix=":" style="display: block; margin-bottom: 0.5rem; font-weight: bold;  margin-left:30%;"></label>
                            <input asp-for="Password" class="password" style="margin-left:43%" />
                            <span asp-validation-for="Password"></span>
                        </div>
                        <div class="inputs reversed"@*  style="margin-left:20%;" *@>
                            <@* input asp-for="RememberMe" />
                            <label asp-for="RememberMe"></label> *@
                            <span class="forgot-password"@*  style="Forgot password?" *@>
                                <a asp-route="PasswordRecovery" style="margin-right:-256%">@T("Account.Login.ForgotPassword")</a>
                            </span>
                        </div>
                    </div>
                    <div class="buttons" style="margin-right: -33%; padding-top:unset;">
                        <button type="submit" class="button-1 login-button" style="background-color: #e35c63;width:-webkit-fill-available">@T("Account.Login.LoginButton")</button>
                        <div class="register-link" style="margin-top: 10px; text-align: center;">
                            <p>
                                Bạn chưa có tài khoản? <a href="@registerUrl">@T("Account.Register")</a>
                            </p>
                        </div>
                    </div>
                </form>
            
            </div>
        </div>
    </div>
</div>
