@model PasswordRecoveryModel
@{
    Layout = "~/Views/Shared/NoHeaderFooter.cshtml";


    //title
    NopHtml.AddTitleParts(T("PageTitle.PasswordRecovery").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-password-recovery-page");
}
<div class="page password-recovery-page">
    <!-- Back button with arrow icon -->
    <div style="display: flex; justify-content: flex-start; padding-left: inherit;">
        <a href="javascript:void(0);" onclick="window.location.href='@Url.Action("Index", "Home")'" style="text-decoration: none; color: #555; font-size: 1rem; display: flex; align-items: center;">
            <img src="../Themes/DefaultClean/Content/images/arrow-back.svg" alt="Back" style="width: 16px; height: 16px; margin-right: 0.5rem;">
            @T("admin.back")
        </a>
    </div>

    <!-- Page title and logo -->
    <div class="page-title" style="display: flex; justify-content: center; width: -webkit-fill-available; border:none;">
        <div class="header-logo">
            <a class="logo-footer" href="#" title="Home" style="text-decoration: none; padding-top: 10%;">
                <img class="image-style-none" style="width: 187px; height: 43px" src="../Themes/DefaultClean/Content/images/Remove-bg.ai_1729840192443.png" alt="Bouygues Construction">
            </a>
        </div>
    </div>

    <!-- Password recovery form -->
    <div class="page-body" style="margin-top: 0%; margin-left: 25%;">
        <div class="title title-common" style="margin-left: -34%; font-size: 1.5rem; ">
            @T("Account.PasswordRecovery")
        </div>



        <form asp-route="PasswordRecovery" method="post" style="margin-left: -32%;">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
                <div class="form-fields" style="padding-left: 0%; margin-right: 0%;">
                    <div class="inputs" style="margin-left: -23%;">
                        <div style="display: flex; align-items: center; margin-left: 4%;margin-bottom: 0.5rem; ">
                            <label asp-for="Email" asp-postfix=":" style="display: block; margin-left: -47%; margin-bottom:5px;  @(CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "vi" ? "margin-left: -171px;" : "")"></label>


                        </div>
                        <input asp-for="Email" class="email" style="width:85%; padding: 0.5rem; margin-left:17%;border-radius:5px;" />
                        <nop-required />
                        <span asp-validation-for="Email" style="
    margin-left: -36%;
"></span>
                    </div>
                </div>
                @if (Model.DisplayCaptcha)
                {
                    <nop-captcha />
                }
            </div>
            <div class="buttons" style="margin-right: -3%; margin-top: -17%; margin-left: -6%;">
                <button type="submit" name="send-email" class="button-1 password-recovery-button" style="background-color:#e35c63;width: 91%;border-radius:5px;margin-left: 4%;">
                    @T("Account.PasswordRecovery.RecoverButton")
                </button>
            </div>
        </form>
    </div>
</div>
