@model RegisterModel

@{
    // Layout = "_ColumnsOne";
    Layout = "~/Views/Shared/NoHeaderFooter.cshtml";
    //title
    NopHtml.AddTitleParts(T("PageTitle.Register").Text);
    //page class
    NopHtml.AppendPageCssClassParts("html-registration-page");
}

<div class="page registration-page">
    <div style="display: flex; justify-content: flex-start; /* padding: 1rem; */ padding-left:inherit;">
        <a href="javascript:history.back()" style="text-decoration: none; color: #555; font-size: 1rem; display: flex; align-items: center;">
            <img src="../Themes/DefaultClean/Content/images/prev.png" alt="Back" style="width: 16px; height: 16px; margin-right: 0.5rem;">
            Quay lại
        </a>
    </div>

    <div class="page-title" style="display:flex;justify-content:center; width: -webkit-fill-available;">
        <div class="header-logo">
            <a class="logo-footer" href="#" title="Home" style="text-decoration: none;  padding-top:10%;">
                <img class="image-style-none" style="width:187px;height:43px" src="../Themes/DefaultClean/Content/images/Remove-bg.ai_1729840192443.png" alt="Bouygues Construction">
            </a>
        </div>
    </div>
    <div class="page-body">
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.RegisterTop, additionalData = Model })
        <form asp-route="Register" asp-route-returnurl="@Context.Request.Query["ReturnUrl"]" method="post" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="message-error"></div>
            <div class="fieldset">
               
                <div class="title" style="
    margin-left: 2%;
">
                    <strong style="font-size: 1.5rem;">@T("Account.YourPersonalDetails")</strong>
                </div>
                <div class="form-fields" style="margin-left:-70%;padding-top: unset; border:none;">
                    @* @if (Model.GenderEnabled)
                    {
                        <div class="inputs">
                            <label for="gender">@T("Account.Fields.Gender"):</label>
                            <div id="gender" class="gender">
                                <span class="male">
                                    <input type="radio" asp-for="Gender" value="M" checked="@(Model.Gender == "M")" id="gender-male" />
                                    <label class="forcheckbox" for="gender-male">@T("Account.Fields.Gender.Male")</label>
                                </span>
                                <span class="female">
                                    <input type="radio" asp-for="Gender" value="F" checked="@(Model.Gender == "F")" id="gender-female" />
                                    <label class="forcheckbox" for="gender-female">@T("Account.Fields.Gender.Female")</label>
                                </span>
                                @if (Model.NeutralGenderEnabled)
                                {
                                    <span class="Neutral">
                                        <input type="radio" asp-for="Gender" value="N" checked="@(Model.Gender == "N")" id="gender-neutral" />
                                        <label class="forcheckbox" for="gender-neutral">@T("Account.Fields.Gender.Neutral")</label>
                                    </span>
                                }
                            </div>
                        </div>
                    } *@
                    @if (Model.FirstNameEnabled)
                    {
                        <div class="inputs">
                            <div style="display: flex; align-items: center; gap: 5px; margin-bottom: 0.5rem; font-weight: bold; text-align: left; @(CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "en" ? "padding-left: 9%;" : "")">
                                <label asp-for="FirstName" asp-postfix=":" style="display: block; margin: 0;"></label>
                                @if (Model.FirstNameRequired)
                                {
                                    <nop-required style="margin-left: -1%;" />
                                }
                            </div>



                            <input asp-for="FirstName" style="margin-left: 44%; width: 56%; border-radius: 5px;" />

                          
                            <span asp-validation-for="FirstName" style="margin-left: 14%;"></span>
                        </div>
                    }
                    @if (Model.LastNameEnabled)
                    {
                        <div class="inputs">
                            <div style="display: flex; align-items: center; margin-bottom: 5px; @(CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "en" ? "padding-left: 9%;" : "")">
                                <label asp-for="LastName" asp-postfix=":" style="display: block;margin-bottom: 0.5rem; font-weight: bold"></label>
                                @if (Model.LastNameRequired)
                                {
                                    <nop-required style="margin-left:-1%;" />
                                }
                            </div>
                            <input asp-for="LastName" style="
    margin-left: 44%;
    width: 56%;
        border-radius:5px;" />
                           
                            <span asp-validation-for="LastName" style="margin-left:4%;"></span>
                        </div>
                    }
                    @if (Model.DateOfBirthEnabled)
                    {
                        <div class="inputs date-of-birth">
                            <label>@T("Account.Fields.DateOfBirth"): style="display: block;"></label>
                            <nop-date-picker asp-day-name="@Html.NameFor(x => x.DateOfBirthDay)"
                                             asp-month-name="@Html.NameFor(x => x.DateOfBirthMonth)"
                                             asp-year-name="@Html.NameFor(x => x.DateOfBirthYear)"
                                             asp-begin-year="@(DateTime.Now.AddYears(-110))"
                                             asp-end-year="@(DateTime.UtcNow)"
                                             asp-selected-date="@Model.ParseDateOfBirth()" />

                            @if (Model.DateOfBirthRequired)
                            {
                                <nop-required />
                            }
                            <span asp-validation-for="DateOfBirthDay"></span>
                            <span asp-validation-for="DateOfBirthMonth"></span>
                            <span asp-validation-for="DateOfBirthYear"></span>
                        </div>
                    }
                    <div class="inputs">
                        <div style="display: flex; align-items: center; margin-left: 4%;margin-bottom: 0.5rem; font-weight: bold">
                            <label asp-for="Email" asp-postfix=":" style="margin-right: 5px;"></label>
                            <nop-required style="margin-left:-1%;" />
                        </div>

                        <input asp-for="Email" style="
    margin-left: 44%;
    width: 56%;
           border-radius:5px;" />
                      
                        <span asp-validation-for="Email" style="
    margin-left: 8%;
"></span>
                    </div>
                    @if (Model.EnteringEmailTwice)
                    {
                        <div class="inputs">
                            <label asp-for="ConfirmEmail" asp-postfix=":" style="display: block; margin-left:-5%;"></label>
                            <input asp-for="ConfirmEmail" />
                            <nop-required />
                            <span asp-validation-for="ConfirmEmail" style="
    margin-left: 6%;
    "></span>
                        </div>
                    }
                    @if (Model.UsernamesEnabled)
                    {
                        <div class="inputs">
                            <label asp-for="Username" asp-postfix=":"></label>
                            <input asp-for="Username" />
                            <nop-required />
                            <span asp-validation-for="Username"></span>
                            @if (Model.CheckUsernameAvailabilityEnabled)
                            {
                                @await Html.PartialAsync("_CheckUsernameAvailability")
                            }
                        </div>

                    }
                </div>
            </div>
           @*  @if (Model.CompanyEnabled || Model.DisplayVatNumber)
            {
                <div class="fieldset">
                    <div class="title">
                        <strong>@T("Account.CompanyDetails")</strong>
                    </div>
                    <div class="form-fields">
                        @if (Model.CompanyEnabled)
                        {
                            <div class="inputs">
                                <label asp-for="Company" asp-postfix=":" style="display: block; margin-left:-53%;"></label>
                                <input asp-for="Company" />
                                @if (Model.CompanyRequired)
                                {
                                    <nop-required />
                                }
                                <span asp-validation-for="Company"></span>
                            </div>
                        }
                        @if (Model.DisplayVatNumber)
                        {
                            <div class="inputs">
                                <label asp-for="VatNumber" asp-postfix=":"></label>
                                <input asp-for="VatNumber" />
                                <span class="vat-note"><em>@T("Account.Fields.VatNumber.Note")</em></span>
                            </div>
                        }
                    </div>
                </div>
            } *@
            @if (Model.StreetAddressEnabled ||
                Model.StreetAddress2Enabled ||
                Model.ZipPostalCodeEnabled ||
                Model.CityEnabled ||
                Model.CountyEnabled ||
                Model.CountryEnabled)
            {
                <div class="fieldset">
                    <div class="title">
                        <strong>@T("Account.YourAddress")</strong>
                    </div>
                    <div class="form-fields">
                        @if (Model.StreetAddressEnabled)
                        {
                            <div class="inputs">
                                <label asp-for="StreetAddress" asp-postfix=":"></label>
                                <input asp-for="StreetAddress" />
                                @if (Model.StreetAddressRequired)
                                {
                                    <nop-required />
                                }
                                <span asp-validation-for="StreetAddress"></span>
                            </div>
                        }
                        @if (Model.StreetAddress2Enabled)
                        {
                            <div class="inputs">
                                <label asp-for="StreetAddress2" asp-postfix=":"></label>
                                <input asp-for="StreetAddress2" />
                                @if (Model.StreetAddress2Required)
                                {
                                    <nop-required />
                                }
                                <span asp-validation-for="StreetAddress2"></span>
                            </div>
                        }
                        @if (Model.ZipPostalCodeEnabled)
                        {
                            <div class="inputs">
                                <label asp-for="ZipPostalCode" asp-postfix=":"></label>
                                <input asp-for="ZipPostalCode" />
                                @if (Model.ZipPostalCodeRequired)
                                {
                                    <nop-required />
                                }
                                <span asp-validation-for="ZipPostalCode"></span>
                            </div>
                        }
                        @if (Model.CountyEnabled)
                        {
                            <div class="inputs">
                                <label asp-for="County" asp-postfix=":"></label>
                                <input asp-for="County" />
                                @if (Model.CountyRequired)
                                {
                                    <nop-required />
                                }
                                <span asp-validation-for="County"></span>
                            </div>
                        }
                        @if (Model.CityEnabled)
                        {
                            <div class="inputs">
                                <label asp-for="City" asp-postfix=":"></label>
                                <input asp-for="City" />
                                @if (Model.CityRequired)
                                {
                                    <nop-required />
                                }
                                <span asp-validation-for="City"></span>
                            </div>
                        }
                        @if (Model.CountryEnabled)
                        {
                            <div class="inputs">
                                <label asp-for="CountryId" asp-postfix=":"></label>
                                <select asp-for="CountryId" asp-items="Model.AvailableCountries"
                                        data-trigger="country-select"
                                        data-url="@(Url.RouteUrl("GetStatesByCountryId"))"
                                        data-stateprovince="#@Html.IdFor(model => model.StateProvinceId)"
                                        data-loading="#states-loading-progress"></select>
                                @if (Model.CountryRequired)
                                {
                                    <nop-required />
                                }
                                <span asp-validation-for="CountryId"></span>
                            </div>
                        }
                        @if (Model.CountryEnabled && Model.StateProvinceEnabled)
                        {
                            <div class="inputs">
                                <label asp-for="StateProvinceId" asp-postfix=":"></label>
                                <select asp-for="StateProvinceId" asp-items="Model.AvailableStates"></select>
                                @if (Model.StateProvinceRequired)
                                {
                                    <nop-required />
                                }
                                <span id="states-loading-progress" style="display: none;" class="please-wait">@T("Common.Wait")</span>
                                <span asp-validation-for="StateProvinceId"></span>
                            </div>
                        }
                    </div>
                </div>
            }
            @if (Model.PhoneEnabled || Model.FaxEnabled)
            {
                <div class="fieldset">
                    <div class="title">
                        <strong>@T("Account.YourContactInformation")</strong>
                    </div>
                    <div class="form-fields">
                        @if (Model.PhoneEnabled)
                        {
                            <div class="inputs">
                                <label asp-for="Phone" asp-postfix=":" style="margin-bottom: 5px;"></label>
                                <input asp-for="Phone" />
                                @if (Model.PhoneRequired)
                                {
                                    <nop-required />
                                }
                                <span asp-validation-for="Phone"></span>
                            </div>
                        }
                        @if (Model.FaxEnabled)
                        {
                            <div class="inputs">
                                <label asp-for="Fax" asp-postfix=":"></label>
                                <input asp-for="Fax" />
                                @if (Model.FaxRequired)
                                {
                                    <nop-required />
                                }
                                <span asp-validation-for="Fax"></span>
                            </div>
                        }
                    </div>
                </div>
            }
          @*   @if (Model.NewsletterEnabled || Model.CustomerAttributes.Count > 0)
            {
                <div class="fieldset">
                    <div class="title">
                        <strong>@T("Account.Options")</strong>
                    </div>
                    <div class="form-fields">
                        @if (Model.NewsletterEnabled)
                        {
                            <div class="inputs">
                                <label asp-for="Newsletter" asp-postfix=":" style="display: block; margin-left:-5%;"></label>
                                <input asp-for="Newsletter" />
                                <span asp-validation-for="Newsletter"></span>
                            </div>
                        }
                        @if (Model.CustomerAttributes.Count > 0)
                        {
                            @await Html.PartialAsync("_CustomerAttributes", Model.CustomerAttributes)
                        }
                    </div>
                </div>
            } *@
            @if (Model.AllowCustomersToSetTimeZone)
            {
                <div class="fieldset">
@*                     <div class="title">
                        <strong>@T("Account.Preferences")</strong>
                    </div> *@
                    <div class="form-fields">
                        <div class="inputs">
                            <label asp-for="TimeZoneId" asp-postfix=":"></label>
                            <select asp-for="TimeZoneId" asp-items="Model.AvailableTimeZones"></select>
                            <span asp-validation-for="TimeZoneId"></span>
                        </div>
                    </div>
                </div>
            }
            <div class="fieldset">
                <div class="form-fields" style="margin-top: -31%; border: none;">
                    <div class="inputs">
                        <div style="display: flex; align-items: center; margin-bottom: 0.5rem; font-weight: bold">

                            <label asp-for="Phone" asp-postfix=":" style="display: block; margin-left: -62%; margin-bottom:5px;  @(CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "en" ? "margin-left: -69%;" : "")"></label>
                            <nop-required style="margin-left:-3%;" />
                        </div>

                        <input asp-for="Phone" style="margin-left: 1%; width: 99%; border-radius:5px;" />
                      
                        <span asp-validation-for="Phone" style="margin-left: 8%;"></span>
                    </div>

                    <div class="inputs">
                        <div style="display: flex; align-items: center; margin-bottom: 0.5rem; font-weight: bold">
                            <label asp-for="Password" asp-postfix=":" style="display: block; margin-left: -65%;margin-bottom: 5px; @(CultureInfo.CurrentCulture.TwoLetterISOLanguageName == "en" ? "margin-left: -62%;" : "")"></label>
                            <nop-required style="margin-left:-3%;" />
                        </div>
                        <input asp-for="Password" style="border-radius:5px;"/>
                      
                        <span asp-validation-for="Password"></span>
                    </div>

                    <div class="inputs">
                        <div style="display: flex; align-items: center;  margin-bottom: 0.5rem; font-weight: bold">
                        <label asp-for="ConfirmPassword" asp-postfix=":" style="display: block; margin-left: -43%; margin-bottom: 5px;"></label>
                            <nop-required style="margin-left:-3%;" />
                        </div>
                        <input asp-for="ConfirmPassword" style="border-radius:5px;" />
                       
                        <span asp-validation-for="ConfirmPassword" style=" margin-left: -58%; "></span>
                    </div>

                    @if (Model.DisplayCaptcha)
                    {
                        <nop-captcha />
                    }
                    @if (Model.HoneypotEnabled)
                    {
                        @Html.Raw(Html.GenerateHoneypotInput())
                    }
                </div>
            </div>


            @if (Model.AcceptPrivacyPolicyEnabled || Model.GdprConsents.Count > 0)
            {
                <div class="fieldset">
                    <div class="title">
                        <strong>@T("Account.UserAgreement")</strong>
                    </div>
                    <div class="form-fields">
                        @if (Model.AcceptPrivacyPolicyEnabled)
                        {
                            <script asp-location="Footer">
                                $(function() {
                                    $('#register-button').on('click', function() {
                                        if ($('#accept-consent').is(':checked')) {
                                            //do some stuff
                                            return true;
                                        } else {
                                            //just show validation errors, don't post
                                            alert('@Html.Raw(JavaScriptEncoder.Default.Encode(T("Account.Fields.AcceptPrivacyPolicy.Required").Text))');
                                            return false;
                                        }
                                    });
                                });
                            </script>
                            <div class="inputs accept-consent">
                                <input id="accept-consent" type="checkbox" name="accept-consent" />
                                <label for="accept-consent">@T("Account.Fields.AcceptPrivacyPolicy")</label>
                                @if (Model.AcceptPrivacyPolicyPopup)
                                {
                                    <span class="read" id="read-privacyinfo">@T("Account.Fields.AcceptPrivacyPolicy.Read")</span>
                                    <script asp-location="Footer">
                                    $(function() {
                                        $('#read-privacyinfo').on('click',
                                            function(e) {
                                                displayPopupContentFromUrl(
                                                    '@Url.RouteUrl("TopicPopup", new {SystemName = "privacyinfo"})',
                                                    '@T("Account.Fields.AcceptPrivacyPolicy")');
                                            });
                                    });
                                    </script>
                                }
                                else
                                {
                                    <a class="read" id="read-privacyinfo" href="@Url.RouteTopicUrl("privacyinfo")">@T("Account.Fields.AcceptPrivacyPolicy.Read")</a>
                                }
                            </div>
                        }

                        @if (Model.GdprConsents.Count > 0)
                        {
                            foreach (var consent in Model.GdprConsents)
                            {
                                if (consent.IsRequired)
                                {
                                    <script asp-location="Footer">
                                    $(function() {
                                        $('#register-button').on('click', function() {
                                            if ($('#consent@(consent.Id)').is(':checked')) {
                                                    //do some stuff
                                                    return true;
                                                } else {
                                                    //just show validation errors, don't post
                                               alert('@Html.Raw(JavaScriptEncoder.Default.Encode(consent.RequiredMessage))');
                                                    return false;
                                                }
                                            });
                                    });
                                    </script>
                                }
                                <div class="inputs accept-consent">
                                    <input id="consent@(consent.Id)" type="checkbox" name="consent@(consent.Id)" checked="@consent.Accepted" />
                                    <label for="consent@(consent.Id)">@consent.Message</label>
                                </div>
                            }

                        }
                    </div>
                </div>
            }

            <div class="buttons" style=" margin-top:-15%;">
                <button type="submit" name="register-button" id="register-button" class="button-1 register-next-step-button" style="background-color:#e35c63;width: 91%;border-radius:5px;margin-left: 5%;">@T("Account.Register.Button")</button>
            </div>
        </form>
        <div class="external-authentication">
            @await Component.InvokeAsync(typeof(ExternalMethodsViewComponent), "ExternalAuthentication")
        </div>
        @await Component.InvokeAsync(typeof(WidgetViewComponent), new { widgetZone = PublicWidgetZones.RegisterBottom, additionalData = Model })
    </div>
</div>